<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://cmpe275bookshare.cpusgzoh9nxr.us-west-1.rds.amazonaws.com:3306/booksharedb</property>
        <property name="connection.username">**</property>
        <property name="connection.password">***</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">20</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's current session context -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        
		<mapping class="edu.sjsu.cmpe275.prj.models.user"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.category"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.book"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.requestBook"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.feedback"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.transaction"/>
		<mapping class="edu.sjsu.cmpe275.prj.models.statistics"/>
		
		
    </session-factory>

</hibernate-configuration>
